.portfolio-container .portfolio-item-col {
    padding: 0;
}

.portfolio-item-img {
    width: 100%;
    height: auto;
}

.portfolio-item-info {
    padding-top: 16%;
}

.portfolio-item-title {
    padding-top: 0;
}