.btn-twitter {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 172, 237, 0.7);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;} 
  .btn-twitter + .btn-twitter {
    margin-left: 1rem; }
  .btn-linkedIn + .btn-twitter {
    margin-left: 1rem; }
  .btn-github + .btn-twitter {
    margin-left: 1rem; }

.btn-twitter:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3); }

@media screen and (min-width: 64em) {
  .btn-twitter {
    padding: 0.75rem 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn-twitter {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem; } }

@media screen and (max-width: 42em) {
  .btn-twitter {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;}
    .btn-twitter + .btn-twitter {
      margin-top: 1rem;
      margin-left: 0; }
    .btn-linkedIn + .btn-twitter {
      margin-top: 1rem;
      margin-left: 0; } 
    .btn-github + .btn-twitter {
      margin-top: 1rem;
      margin-left: 0; } }


.btn-linkedIn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 123, 181, 0.7);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;}
  .btn-linkedIn + .btn-linkedIn {
    margin-left: 1rem; }
  .btn-twitter + .btn-linkedIn {
    margin-left: 1rem; }
  .btn-github + .btn-linkedIn {
    margin-left: 1rem; }

.btn-linkedIn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3); }

@media screen and (min-width: 64em) {
  .btn-linkedIn {
    padding: 0.75rem 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn-linkedIn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem; } }

@media screen and (max-width: 42em) {
  .btn-linkedIn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;}
    .btn-linkedIn + .btn-linkedIn {
      margin-top: 1rem;
      margin-left: 0; }
    .btn-twitter + .btn-linkedIn {
      margin-top: 1rem;
      margin-left: 0; } 
    .btn-github + .btn-linkedIn {
      margin-top: 1rem;
      margin-left: 0; } }



.btn-github {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(96, 108, 113, 0.7);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;}
  .btn-github + .btn-github {
    margin-left: 1rem; }
  .btn-twitter + .btn-github {
    margin-left: 1rem; }
  .btn-linkedIn + .btn-github {
    margin-left: 1rem; }

.btn-github:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3); }

@media screen and (min-width: 64em) {
  .btn-github {
    padding: 0.75rem 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn-github {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem; } }

@media screen and (max-width: 42em) {
  .btn-github {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem; }
    .btn-github + .btn-github {
      margin-top: 1rem;
      margin-left: 0; }
    .btn-twitter + .btn-github {
      margin-top: 1rem;
      margin-left: 0; } 
    .btn-linkedIn + .btn-github {
      margin-top: 1rem;
      margin-left: 0; } }